absl-py==2.0.0
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
ansi2html==1.9.1
anyio==4.2.0
appdirs==1.4.4
astor==0.8.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
bcrypt==4.1.2
blendertoolbox==0.0.3
blinker==1.7.0
bpy==4.0.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmake==3.30.3
colorama==0.4.6
comm==0.2.0
ConfigArgParse==1.7
contourpy==1.2.0
cryptography==41.0.7
cycler==0.12.1
Cython==3.0.10
dash==2.14.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.3
decorator==4.4.2
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.8
distro==1.9.0
docker-pycreds==0.4.0
docstring-parser==0.15
duckdb==0.8.1
einops==0.7.0
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
fabric==3.2.2
Faker==19.13.0
fastapi==0.108.0
fastjsonschema==2.19.1
ffmpeg-python==0.2.0
ffmpy==0.3.1
filelock==3.13.1
Flask==3.0.0
fonttools==4.47.0
freetype-py==2.4.0
frozenlist==1.4.1
fsspec==2023.12.2
future==1.0.0
fvcore==0.1.5.post20221221
generate-readme==0.1
gevent==23.9.1
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.25.2
google-auth-oauthlib==1.2.0
gorilla==0.4.0
GPUtil==1.4.0
gradio_client==0.6.1
greenlet==3.0.3
grpcio==1.60.0
h11==0.14.0
h5py==3.11.0
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.1
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.5.1
importlib-metadata==7.0.1
importlib-resources==6.1.1
iniconfig==2.0.0
invoke==2.2.0
iopath==0.1.10
ipdb==0.13.13
ipycanvas==0.13.1
ipyevents==2.0.2
ipython==8.19.0
ipywidgets==8.1.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jupyter_client==7.4.9
jupyter_core==5.5.1
jupyterlab-widgets==3.0.9
kaolin==0.14.0
kiwisolver==1.4.5
lazy_loader==0.3
libigl==2.5.0
lightning-utilities==0.10.0
linkify-it-py==2.0.2
llvmlite==0.43.0
Mako==1.3.5
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.16
mypy-extensions==1.0.0
nbformat==5.7.0
nest-asyncio==1.5.8
networkx==3.2.1
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
open3d==0.17.0
opencv-python==4.10.0.84
orjson==3.9.10
packaging==23.2
pandas==1.5.3
parallel-ssh==2.9.1
paramiko==3.4.0
parso==0.8.3
pathos==0.3.2
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.1.0
plotly==5.18.0
pluggy==1.3.0
portalocker==2.8.2
pox==0.3.4
ppft==1.7.6.8
proglog==0.1.10
prometheus-client==0.19.0
prompt-toolkit==3.0.43
protobuf==4.23.4
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyaml==23.12.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pycparser==2.21
pycuda==2024.1.2
pydantic==2.11.5
pydantic_core==2.33.2
pyDeprecate==0.3.2
pydub==0.25.1
pyglet==2.0.10
pygltflib==1.16.1
Pygments==2.17.2
pymeshlab==2023.12.post1
PyNaCl==1.5.0
PyOpenGL==3.1.0
pyparsing==3.1.1
pyquaternion==0.9.9
pyrender==0.1.45
pysam==0.22.0
pytest==7.4.4
pytest-benchmark==4.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytools==2024.1.14
pytorch-fid==0.3.0
pytorch-lightning==2.0.0
pytorch3d==0.7.3
PyTorchStructuralLosses @ file:///rhome/qmeng/Projects/me/baselines/L3SD/Metrics/pytorch_pcd_metrics/pytorch_structural_losses
pytz==2023.3.post1
PyWavelets==1.5.0
PyYAML==6.0.1
pyzmq==24.0.1
referencing==0.32.0
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.4
rich==13.7.0
rpds-py==0.16.2
rsa==4.9
scikit-image==0.22.0
scikit-learn==1.2.1
scikit-optimize==0.9.0
scipy==1.14.1
semantic-version==2.10.0
sentry-sdk==2.29.1
setproctitle==1.3.3
setuptools-rust==1.8.1
shapely==2.0.5
shtab==1.6.5
six==1.16.0
slurmui==0.3.0.4
smmap==5.0.1
sniffio==1.3.0
SQLAlchemy==1.4.51
ssh-python==1.0.0
ssh2-python==1.0.0
stack-data==0.6.3
starlette==0.32.0.post1
stui==0.3.6
submitit==1.5.1
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensordict==0.2.1
termcolor==2.4.0
textual==0.58.1
threadpoolctl==3.2.0
tifffile==2023.12.9
tomli==2.0.1
-e git+https://github.com/quan-meng/toolbox.git@ad5929faf76cb6849c78652bbbb82bc46dda4266#egg=toolbox
toolz==0.12.0
torch==1.13.1+cu117
torchmetrics==1.2.1
torchvision==0.14.1+cu117
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
trimesh==4.0.8
triton==2.2.0
typeguard==4.4.1
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tyro==0.9.13
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==2.1.0
urwid==2.4.1
usd-core==23.5
uvicorn==0.25.0
vdbfusion==0.1.6
wandb==0.19.11
wcwidth==0.2.12
websockets==11.0.3
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.16.0
xxhash==3.4.1
yacs==0.1.8
yarl==1.9.4
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
zstandard==0.23.0
